@import '../../../../styles/variables.scss';

.comment {
	margin: 25px 0px;

	@media screen and (max-width: $mobile-devices) {
		margin: 20px 0;
	}

	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;

		> span {
			margin-right: 20px;
			opacity: 0.5;
			color: $primary-color;
			letter-spacing: 0;
		}
	}

	> p {
		margin: 0 60px 0 58px;

		@media screen and (max-width: $mobile-devices) {
			margin: 0 35px 0 58px;
		}
	}

	.separator {
		border: 1px solid #EBEBEB;
	}
}

:host ::ng-deep app-display-name {
	.display-name {
		@media screen and (max-width: $mobile-devices) {
			flex-direction: row;
			align-items: center;
			bottom: 0;
		}

		#display-name-description {
			@media screen and (max-width: $mobile-devices) {
				display: flex;
				margin: 0 0 0 10px;
				height: 0;
			}

			.full-name {
				@media screen and (max-width: $mobile-devices) {
					font-size: 14px;
				}
			}
		}
	}
}