.display-name {
	display: flex;

	img {
		height: 70px;
		width: 70px;
		object-fit: cover;
		border-radius: 50%;
		margin-left: 20px;
	}

	.name {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-left: 18px;
	}
}