/* You can add global styles to this file, and also import other style files */

@import './styles/reset.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

html {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}

body {
	position: relative;
	height: 100%;
	margin: 10px 5px 0 5px;
	box-shadow: 0 0 4px 0 rgba(172,172,172,0.50);
	border-radius: 0 0 5px 5px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.full-width {
	width: 100%;
}